<section id="about" class="bg-one">
	<div class="container">
		<div class="row">

			<!-- section title -->
			<div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
				<h2>om os</h2>
				<div class="divider wow fadeIn">
					<span></span>
				</div>
			</div>
			<!-- /section title -->

			<!-- section description -->
			<div class="col-md-12 text-center wow fadeInUp about-description">
				<p class="editable">{{ page.description }}</p>
			</div>
			<!-- /section description -->

			{% for service_item in site.service %}
			<!-- About item -->
			<div class="col-md-3 text-center wow fadeInUp" data-wow-duration="1000ms" >
				<div class="wrap-about what-we-do-box">
					<div class="what-we-do-box-icon">
						<i class="fa fa-pencil"></i>
					</div>
					<div class="about-content text-center">
						<h3 class="ddd">{{ service_item.name }}</h3>
						<p>{{ service_item.description }}</p>
					</div>
				</div>
			</div>
			<!-- End About item -->
			{% endfor %}

		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>
