<section id="banner" style="background-image: url({% include relative-src.html src=page.banner_image %})">
  <div class="center" id="banner-parallax">
    <div class="caption">
      <img class="wow fadeInUp editable" src="{% include relative-src.html src=site.data.company.logo %}" alt="logo-aria">
      <h2 data-wow-duration="500ms"  data-wow-delay="500ms" class="heading animated fadeInRight editable">{{ page.headline_one }}</h2>
      <h3 class="animated slideInLeft editable">{{ page.headline_two }}</h3>
    </div>
  </div>
</section>
<div id="pageHr">
  <i><i class="fa fa-angle-down"></i></i>
</div>
