{% include base_path.html %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.company.description }}{% endif %}">
  <meta name="author" content="{{ site.data.company.author }}">
  <!--  Mobile Specific -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.data.company.title | escape }}{% endif %}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% include relative-src.html src=site.favicon %}" />

  <!-- CSS -->
  <!-- Fontawesome Icon font -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <!-- Animate.css -->
  <link rel="stylesheet" href="{{ base_path }}/assets/css/animate.css">
  <!-- Carousel -->
  <link rel="stylesheet" href="{{ base_path }}/assets/css/owl.carousel.css">
  <!-- Star rating -->
  <link rel="stylesheet" href="{{ base_path }}/assets/css/star-rating-svg.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">
  <!-- Media Queries -->
  <link rel="stylesheet" href="{{ base_path }}/assets/css/media-queries.css">
  <!-- Responsive items -->
  <link rel="stylesheet" href="{{ base_path }}/assets/css/responsive.css">


  <!-- Google Font -->
  <!-- Roboto Slab / body Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet" type="text/css">
  <!-- Dosis / button Font -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet" type="text/css">

  <!-- Modernizer Script for old Browsers -->
  <script src="{{ base_path }}/assets/js/modernizr-2.8.3.min.js"></script>

  <!-- Required Script libraries -->
	<!-- Main jQuery -->
	<script src="{{ base_path }}/assets/js/jquery-3.1.1.min.js"></script>
	<!-- Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<!-- Custom Scrollbar -->
	<script src="{{ base_path }}/assets/js/jquery.nicescroll.min.js"></script>
	<!-- wow.min Script -->
	<script src="{{ base_path }}/assets/js/wow.min.js"></script>
  <!-- Star rating -->
	<script src="{{ base_path }}/assets/js/jquery.star-rating-svg.js"></script>
  <!-- Owl Carousel -->
	<script src="{{ base_path }}/assets/js/owl.carousel.min.js"></script>
  <!-- Google Map API -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBhQyTSkY28ZPt2wzvGVg51AmP1SvSITc"></script>
  <!-- Mixitup js -->
  <script src="{{ base_path }}/assets/js/mixitup.min.js"></script>
  <!-- Custom js -->
  <script src="{{ base_path }}/assets/js/custom.js"></script>

</head>
