<section id="price-table">
  <div class="container" id="filter-container">

    <!-- single price item -->
    <div class="mix item-01 text-center">
      <!-- Item title -->
      <div class="title p-5 text-center wow fadeIn" data-wow-duration="1500ms" >
  			<h2>Item-01</h2>
  			<div class="divider wow fadeIn">
  				<span></span>
  			</div>
  		</div>
      <!-- /Item title -->

      <!-- table -->
      <table class="table text-center">
        <thead>
          <tr>
            <th class="text-left">Item</th>
            <th class="text-right">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
        </tbody>
      </table>
      <!-- /table -->
    </div>
    <!-- /single price item -->

    <!-- single price item -->
    <div class="mix item-02 text-center">
      <!-- Item title -->
      <div class="title p-5 text-center wow fadeIn" data-wow-duration="1500ms" >
  			<h2>Item-02</h2>
  			<div class="divider wow fadeIn">
  				<span></span>
  			</div>
  		</div>
      <!-- /Item title -->

      <!-- table -->
      <table class="table text-center">
        <thead>
          <tr>
            <th class="text-left">Item</th>
            <th class="text-right">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
        </tbody>
      </table>
      <!-- /table -->
    </div>
    <!-- /single price item -->

    <!-- single price item -->
    <div class="mix item-03 text-center">
      <!-- Item title -->
      <div class="title p-5 text-center wow fadeIn" data-wow-duration="1500ms" >
  			<h2>Item-03</h2>
  			<div class="divider wow fadeIn">
  				<span></span>
  			</div>
  		</div>
      <!-- /Item title -->

      <!-- table -->
      <table class="table text-center">
        <thead>
          <tr>
            <th class="text-left">Item</th>
            <th class="text-right">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
        </tbody>
      </table>
      <!-- /table -->
    </div>
    <!-- /single price item -->

    <!-- single price item -->
    <div class="mix item-04 text-center">
      <!-- Item title -->
      <div class="title p-5 text-center wow fadeIn" data-wow-duration="1500ms" >
  			<h2>Item-04</h2>
  			<div class="divider wow fadeIn">
  				<span></span>
  			</div>
  		</div>
      <!-- /Item title -->

      <!-- table -->
      <table class="table text-center">
        <thead>
          <tr>
            <th class="text-left">Item</th>
            <th class="text-right">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
        </tbody>
      </table>
      <!-- /table -->
    </div>
    <!-- /single price item -->

    <!-- single price item -->
    <div class="mix item-05 text-center">
      <!-- Item title -->
      <div class="title p-5 text-center wow fadeIn" data-wow-duration="1500ms" >
  			<h2>Item-05</h2>
  			<div class="divider wow fadeIn">
  				<span></span>
  			</div>
  		</div>
      <!-- /Item title -->

      <!-- table -->
      <table class="table text-center">
        <thead>
          <tr>
            <th class="text-left">Item</th>
            <th class="text-right">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
          <tr>
            <td class="text-left">name</td>
            <td class="text-right">999kr</td>
          </tr>
        </tbody>
      </table>
      <!-- /table -->
    </div>
    <!-- /single price item -->

  </div> <!-- end container -->
</section> <!-- end section -->
