<section id="reviews" class="bg-two">
  <div class="container">

    <!-- section title -->
    <div class="title p-5 text-center wow fadeIn" data-wow-duration="1500ms" >
      <h2>Reviews</h2>
    </div>
    <!-- /section title -->

    <div class="row">

      <!-- overall rating -->
      <div class="rating col-md-6 col-sm-6 col-xs-12 text-center">
        <label for="rating" class="wow fadeInUp control-label">4.0</label>
        <div class="main-rating"></div>
        <a class="btn btn-transparent animated fadeInUp" href="#">Rate and Comments</a>
      </div>
      <!-- /overall rating -->

      <!-- comments -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <!-- comments wrapper -->
        <div id="comments" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">

          <!-- comment single -->
          <div class="item text-center">
            <!-- comment info -->
            <div class="comment-info">
              <div class="comment-meta">
                <h3>Name</h3>
                <span>Jan 21, 2017</span>
              </div>
              <div class="comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ex, cupiditate, error, suscipit saepe sed ea consequuntur inventore sequi sit illo.</p>
                <div class="comment-rating"></div>
              </div>
            </div>
            <!-- /comment info -->
          </div>
          <!-- /comment single -->

          <!-- comment single -->
          <div class="item text-center">
            <!-- comment info -->
            <div class="comment-info">
              <div class="comment-meta">
                <h3>Afshin Moatari</h3>
                <span>Jan 20, 2017</span>
              </div>
              <div class="comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ex, cupiditate, error, suscipit saepe sed ea consequuntur inventore sequi sit illo.Cumque, ex, cupiditate, error, suscipit saepe sed ea consequuntur inventore sequi sit illo</p>
                <div class="comment-rating"></div>
              </div>
            </div>
            <!-- /comment info -->
          </div>
          <!-- /comment single -->

        </div>
        <!-- end comments wrapper -->
      </div>
      <!-- end comments -->

    </div> 		<!-- End row -->
  </div>   	<!-- End container -->
</section>
