<section id="reviews" class="bg-two">
  <div class="container">
    <div class="row">

      <!-- section title -->
      <div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
        <h2>Kundeanmeldelser</h2>
      </div>
      <!-- /section title -->

      <!-- overall rating -->
      <div class="rating col-md-6 col-sm-6 col-xs-12 text-center">
        <label for="rating" class="wow fadeInUp control-label">4.0</label>
        <input id="rating" name="rating" class="rating-loading" value="4" data-size="xs">
        <a class="btn btn-transparent animated fadeInUp" href="#">Bedøm vores tjenester</a>
      </div>
      <!-- /overall rating -->

      <!-- comments -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <!-- comments wrapper -->
        <div id="comments" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">

          <!-- comment single -->
          <div class="item text-center">
            <!-- comment info -->
            <div class="comment-info">
              <div class="comment-meta">
                <h3>Name</h3>
                <span>Jan 21, 2017</span>
              </div>
              <div class="comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ex, cupiditate, error, suscipit saepe sed ea consequuntur inventore sequi sit illo.</p>
                <input name="comment-rating" class="rating-loading" value="4" data-size="xxs">
              </div>
            </div>
            <!-- /comment info -->
          </div>
          <!-- /comment single -->

          <!-- comment single -->
          <div class="item text-center">
            <!-- comment info -->
            <div class="comment-info">
              <div class="comment-meta">
                <h3>Afshin Moatari</h3>
                <span>Jan 20, 2017</span>
              </div>
              <div class="comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ex, cupiditate, error, suscipit saepe sed ea consequuntur inventore sequi sit illo.Cumque, ex, cupiditate, error, suscipit saepe sed ea consequuntur inventore sequi sit illo</p>
                <input name="comment-rating" class="rating-loading" value="2" data-size="xxs">
              </div>
            </div>
            <!-- /comment info -->
          </div>
          <!-- /comment single -->

        </div>
        <!-- end comments wrapper -->
      </div>
      <!-- end comments -->

    </div> 		<!-- End row -->
  </div>   	<!-- End container -->
</section>
