<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-logo">
      <a href="index.html">
        <img src="{% include relative-src.html src=site.data.company.logo %}" alt="logo-aria">
      </a>
    </li>
    <!-- logo -->
    <li class="sidebar-link">
        <a href="index.html">Home</a>
    </li>
    <!-- nav item -->
    <li class="sidebar-link">
        <a href="javascript:void(0)" data-filter="all">All</a>
    </li>
    <li class="sidebar-link">
        <a href="javascript:void(0)" data-filter=".item-01">Item-01</a>
    </li>
    <li class="sidebar-link">
        <a href="javascript:void(0)" data-filter=".item-02">Item-02</a>
    </li>
    <li class="sidebar-link">
        <a href="javascript:void(0)" data-filter=".item-03">Item-03</a>
    </li>
    <li class="sidebar-link">
        <a href="javascript:void(0)" data-filter=".item-04">Item-04</a>
    </li>
    <li class="sidebar-link">
        <a href="javascript:void(0)" data-filter=".item-05">Item-05</a>
    </li>
  </ul><!-- /sidebar nav -->
</div><!-- /sidebar wrapper -->
<a class="menu-toggle" href="#menu-toggle" id="menu-toggle">
  <i class="fa fa-bars fa-2x"></i>
</a>
