/*============================================================
	For Small Desktop
==============================================================*/


@media (min-width: 980px) and (max-width: 1150px) {

	/* banner */
    #caption .carousel-caption h2 {
        font-size: 60px;
    }

	/* about us */
    .feature-desc h3 {
        margin-top: 0;
    }

    /* about us */

    .about-content {
        margin: 0 auto;
        width: 98%;
    }

}

/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/

@media (min-width: 768px) and (max-width: 979px) {

	/* banner */
    #caption h2 {
        font-size: 50px;
    }

    #caption h3 {
        font-size: 35px;
    }

	/* about us */
    .wrap-about {
        margin: 0 0 30px;
    }

    .about-content {
        margin: 0 auto;
        width: 70%;
    }

}


/*============================================================
	Mobile (Landscape) Design for a width of 480px
==============================================================*/

@media only screen and (max-width: 767px) {

	/* banner */
    #caption h2 {
        font-size: 40px;
    }

    #caption h3 {
        font-size: 25px;
    }

    .caption img {
        width: 60%;
    }

	/* about us */
    .wrap-about {
        margin: 0 auto 55px;
        width: 80%;
    }

  /* footer */
    .back-to-top, .copyright {
        float: none;
        margin: 10px auto;
        text-align: center;
    }

    .back-to-top a {
        background-color: #F1DDBF;
        color: #2F3642;
        padding: 8px;
        cursor: pointer;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }

    .back-to-top a:hover {
        border: 1px solid #F1DDBF;
        background-color: transparent;
        color: #F1DDBF;
        padding: 12px;
    }

    /* price/nav */

}
