<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	{% include head.html %}
		<body id="body" data-spy="scroll" data-target=".nav">
			{% include main-nav.html %}
			{% include banner.html %}
			<div id="page">
				{% include about.html %}
				{% include reviews.html %}
				{% include map.html %}
				{% include contact.html %}
				{% include footer.html %}
			</div>
		</body>
</html>
